<nav class="navbar navbar-default" role="navigation">
  <div class='container'>
    <div class="navbar-header">
      <a class='navbar-brand' href='/'>
        <span class='glyphicon glyphicon-user' aria-hidden='true'></span>
        My social
      </a>
    </div>

    <ul class='nav navbar-nav navbar-right'>
      <li>
        <%= button_to 'Logout', login_path, class: 'btn btn-primary navbar-btn', method: :get %>
      </li>
    </ul>

    <form class="navbar-form" role="search">
      <div class="form-group col-xs-10">
        <input type="text" class="form-control" style="width: 100%;" placeholder="Search" name="q">
      </div>
    </form>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-md-1">
      <img class="img-thumbnail" src="https://www.govloop.com/blogs/7001-8000/7749-fb_avatar_0.jpg">
    </div>
    <div class="col-md-5">
      <h3>Chris K</h3>
    </div>

    <div class="col-md-6">
      <%= link_to 'Edit my profile', edit_profile_path, class: 'btn btn-default pull-right' %></div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div id="tree"></div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <%= link_to profile_path, class: 'pure-link' do  %>
                <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                <br/>
                <div>Matrix</div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <%= link_to profile_path, class: 'pure-link' do  %>
                <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                <br/>
                <div>Matrix III : Revolution</div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <%= link_to profile_path, class: 'pure-link' do  %>
                <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                <br/>
                <div>Short Circuit</div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <%= link_to profile_path, class: 'pure-link' do  %>
                <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                <br/>
                <div>More on Johnny 5</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>